---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About this website";
---

<BaseLayout {pageTitle}>
  <h1>{pageTitle}</h1>
  <p>
    I`ve created this website to checkout
    <a href="https://astro.build/">Astro</a>
  </p>
</BaseLayout>
