---

---

<div class="nav-links">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/blog">Blog</a>
</div>

<style>
  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
  }

  .nav-links a {
    color: #3c5aa6;
    font-size: large;
    font-weight: bolder;
    text-decoration: none;
  }
</style>
